/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/static/woff2/SUIT.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Pretendard Font */
@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
}

/* PT Bandoche Font */
@font-face {
  font-family: 'PT Bandoche';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/PTBandocheR.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PT Bandoche';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/PTBandocheB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* PT Noeul Font */
@font-face {
  font-family: 'PT Noeul';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/PTNoeulL.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'PT Noeul';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/PTNoeulB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* Nanum DdarEGeEomMaGa Font */
@font-face {
  font-family: 'Nanum DdarEGeEomMaGa';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_08@1.0/mom_to_daughter.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Spoqa Han Sans Neo */
@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

/* CSS Variables */
:root {
  --primary-500: #eb5945;
  --primary-950: #0d0302;
  --secondary-500: #a3bd8a;
  --Secondary-700: #709051;
  --Secondary-800: #576f3f;
  --Secondary-300: #d6e2cb;
  --Desaturate-100: #df7262;
  --Desaturate-Primary-500: #b19490;
  --Desaturate-Secondary-100: #a3b493;
  --grayscale-00-white: #fff;
  --grayscale-5002: #fafafa;
  --grayscale-30002: #d4d4d4;
  --grayscale-40001: #a3a3a3;
  --grayscale-50002: #737373;
  --grayscale-60001: #525252;
  --grayscale-700: #404040;
  --grayscale-800: #262626;
  --B-Brown: #91766d;
  --B-Granite: #b7a7a8;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
}

/* Reset CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-text-size-adjust: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after, q::before, q::after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input, textarea, button, select {
  appearance: none;
  border-radius: 0;
  outline: 0;
  margin: 0;
}

button {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

input[type="radio"] {
  appearance: none;
}

input {
  appearance: none;
  border-radius: 0;
}

/* Base Styles */
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html * {
  word-break: keep-all;
}

html, body {
  font-family: 'Pretendard', sans-serif;
  height: 100%;
  color: rgb(34, 34, 34);
  /* 스크롤 성능 최적화 */
  -webkit-overflow-scrolling: touch;
  /* 모바일 좌우 스크롤 방지 */
  overflow-x: hidden;
  max-width: 100vw;
}

/* 모든 섹션과 컨테이너가 스크롤을 방해하지 않도록 설정 */
section {
  overflow: visible;
  position: relative;
}

/* 이미지가 스크롤을 방해하지 않도록 전역 설정 */
img {
  pointer-events: none;
  -webkit-user-drag: none;
  user-select: none;
}

/* 링크나 버튼 내부의 이미지는 클릭 가능하도록 */
a img, button img, [role="button"] img {
  pointer-events: auto;
}

img, p, span, h1, h2, h3, h4, h5, h6 {
  user-select: none;
  -webkit-user-drag: none;
}

img, video, iframe {
  max-width: 100%;
}

img, strong {
  display: block;
}

form, input {
  background: transparent;
}

/* Utility Classes */
.blind {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  bottom: 0;
  overflow: hidden;
  white-space: nowrap;
}

.pc_block {
  display: block;
}

.mobile_block {
  display: none;
}

.block_1024 {
  display: block;
}

.none_1024 {
  display: none;
}

.w_1360 {
  width: 90%;
  max-width: 1360px;
  margin: 0 auto;
}

.w_1280 {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

.w1240 {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* 모바일 좌우 스크롤 방지 */
@media screen and (max-width: 768px) {
  .w_1360,
  .w_1280,
  .w1240 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }
}

._cover img, ._cover iframe, ._cover video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* AOS Animations */
[data-aos="fade-left"] {
  transform: translate3d(30px, 0, 0);
}

[data-aos="fade-right"] {
  transform: translate3d(-30px, 0, 0);
}

[data-aos="fade-up"] {
  transform: translate3d(0, 30px, 0);
}

[data-aos="zoom-in"] {
  transform: scale(0.9);
}

[data-aos="fade-down"] {
  transform: translate3d(0, -60px, 0);
}

/* Modal */
.modal {
  position: fixed;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.modal .modal_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Roll Text Animation */
.roll_wrap {
  display: flex;
}

.roll_wrap img {
  max-width: unset;
}

.roll_wrap img:first-child {
  animation: rolltxt 20s linear infinite;
  padding-right: 100px;
}

.roll_wrap img:last-child {
  animation: rolltxt2 20s linear infinite;
  padding-right: 100px;
}

@keyframes rolltxt {
  0% { transform: translateX(0); }
  50% { transform: translateX(-100%); }
  50.1% { transform: translateX(100%); }
  100% { transform: translateX(0); }
}

@keyframes rolltxt2 {
  0% { transform: translateX(0); }
  100% { transform: translateX(-200%); }
}

/* Responsive */
@media screen and (max-width: 1024px) {
  .block_1024 {
    display: none;
  }
  .none_1024 {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .pc_block {
    display: none !important;
  }
  .mobile_block {
    display: flex !important;
  }
  .roll_wrap {
    height: 60px;
  }
}
